
/* Header */

.header { display: flex;
  font-family: Verdana;
    font-weight: bold;
border-bottom: 3px solid black;
justify-content: center;}


 h2{margin: 20px;
        color: aquamarine;}

ul {color: black;
   font-size: 12px
  justify-content: flex-end;
  margin-left: auto;
   padding: 10px;
}
.main-container{
   display: flex;
   border:1px solid black;
}
.large-container{display: flex;
   width: 100px;
 border: 1px solid black;}
.medium-container{
  display: flex;
   width:35% ;
 border: 1px solid black; }
